#single-listing {
  @apply text-gray-800 p-5 m-1 overflow-hidden;

  h2 {
    @apply text-xl font-semibold text-black break-words;
  }

  .description-container {
    @apply pt-6 mt-6;
  }

  .description-title,
  .gallery-title {
    @apply text-xl font-bold m-3 text-font-main;
  }

  .description-content {
    @apply text-lg leading-relaxed m-3 text-font-secondary2 font-medium;
  }

  .seller-container {
    @apply top-[52%];
  }
}

.single-listing-layout {
  border: 2px solid transparent;
  border-radius: 12px;
  background: linear-gradient(#a4b9c2, white) padding-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: center;
  margin: 3rem;
  padding: 3rem;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.06);

  .shared-layout .main-media {
    flex: 2;
    max-width: 800px;
  }

  .sidebar {
    flex: 1;
    margin: 2rem;
    border-radius: 12px;

    .bid-section-container {
      margin-bottom: 20px;
    }
  }
}
