@use "../base/colours" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

.listing-content {
  @apply relative w-full space-y-3 h-[625px] shadow-lg bg-primary-bg;

  .main-media {
    @apply absolute inset-x-0 top-0 h-[60%] bg-cover rounded-t-lg; /* Media occupies the top 60% */
  }

  .seller-container {
    @apply absolute left-4 top-[52%] flex items-center space-x-3 transform -translate-y-1/2 z-30; /* Positioned over the media */

    .seller-avatar {
      @apply w-10 h-10 rounded-full flex items-center justify-center;
      background-color: $secondary-2;
    }

    .creator-details {
      @apply flex flex-col;

      .creator-label {
        @apply text-xs font-normal;
        color: $font-secondary;
      }

      .creator-name {
        @apply text-sm font-medium;
        color: $font-secondary;
      }
    }
  }

  .details-container {
    @apply relative px-6 pt-4 space-y-2 z-10;

    .auction-title {
      @apply text-lg font-medium;
      color: $font-main;
    }

    .last-bid {
      @apply text-xs tracking-wide;
      color: $font-secondary-2;
    }

    .bid-amount {
      @apply text-sm font-medium;
      color: $accent;
    }

    .closed-message {
      @apply text-sm font-bold;
      color: $accent;
    }
  }
}
