@use "../base/colours" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

.listing-content {
  @apply relative flex flex-col w-full h-[625px] shadow-lg bg-primary-bg rounded-lg; // Flex column layout for proper stacking

  .main-media {
    @apply w-full bg-cover rounded-t-lg h-96;
  }

  .seller-container {
    @apply absolute left-4 top-[55%] flex items-center space-x-3 transform -translate-y-1/2 z-30; /* Positioned over the media */

    .seller-avatar {
      @apply w-10 h-10 rounded-full flex items-center justify-center;
      background-color: $secondary-2;
    }

    .creator-details {
      @apply flex flex-col;

      .creator-label {
        @apply text-xs font-normal;
        color: $font-secondary;
      }

      .creator-name {
        @apply text-sm font-medium;
        color: $font-secondary;
      }
    }
  }

  .details-container {
    @apply relative p-6 space-y-2 z-10;

    .auction-title {
      @apply text-2xl font-bold text-gray-900 mb-4 break-words overflow-hidden h-14;
      color: $font-main;
    }

    .last-bid,
    .bid-amount {
      @apply tracking-wide font-medium;
      color: $font-secondary-2;
    }

    .countdown-timer {
      @apply text-center text-lg font-semibold py-4 px-6 rounded-lg shadow-md;
    }

    .closed-message {
      @apply text-center text-lg font-semibold py-4;
      color: $font-secondary-2;
    }
  }
}

.single-listing-layout {
  display: flex; // Use flexbox for layout
  flex-wrap: wrap; // Allow wrapping if the container gets too small
  background-color: #ffffff; // Light background for distinction

  .shared-layout {
    flex: 2; // Takes up two-thirds of the available space
    max-width: 70%; // Prevents it from growing too large
    padding: 20px; // Add padding for a cleaner look
    border-radius: 8px; // Rounded corners
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // Subtle shadow
  }

  .sidebar {
    flex: 1; // Takes up one-third of the available space
    margin: 2rem; // Add padding for a clean look
    border-radius: 8px; // Rounded corners

    .bid-section-container {
      margin-bottom: 20px; // Space between different sidebar sections
    }
  }
}
