// Primary Colors
$primary-bg: #f2f2f2;
$primary-bg-alt: #f8f8f8;
$secondary-bg: #d9d9d9;

// Secondary Colors
$secondary-1: #7d9da9;
$secondary-2: #a4b9c2;
$secondary-3: #c1d3d9;

// Font Colors
$font-main: #000000;
$font-secondary: #ffffff;
$font-secondary1: #848484;
$font-secondary2: #727272;

// Accent Colors
$accent: #b45309;

// Button Colors
$button-bg: #111111;
$button-hover: #ffffff;
