@use "../base/colours" as *;

// General button styles
.button {
  @apply rounded-md py-3 px-8 transition-all w-full border inline-flex justify-center items-center mt-4;
  background-color: $button-bg;
  color: $font-secondary;
  border-color: $button-bg;

  // Hover effects
  &:hover {
    background-color: $button-hover;
    color: $font-main;
  }

  &.see-more-btn {
    @apply text-lg;
  }

  &.view-details-btn {
    @apply text-sm;
  }

  // Do i need this? DRY Later
  &.place-bid-btn {
    @apply text-sm px-6 py-3;
  }

  &.submit-form-btn {
    @apply text-lg px-10 py-4;
  }
}

.start-journey-btn {
  @apply border border-black text-black text-xl;
  background-color: $primary-bg;

  &:hover {
    background-color: $button-bg; // Corrected to use $primary-bg
    color: $font-secondary; // Corrected to use $font-main
  }
}

.logout-btn {
  @apply flex items-center justify-center bg-white text-black text-lg border-2 border-black rounded-md py-3 px-8 transition-all w-full m-3;

  .logout-icon {
    @apply text-gray-500 mr-2;
  }

  span.logout-text {
    @apply font-medium text-sm;
  }

  &:hover {
    background-color: $secondary-bg;
    border-color: $button-bg;
  }
}

// Last Bid Badge
.recent-bids-btn {
  @apply flex items-center justify-center bg-gray-200 text-black text-sm font-normal rounded-lg px-4 py-2 gap-2 relative;

  .last-bid-text {
    @apply text-black text-sm font-normal;
  }

  .cancel-icon {
    @apply hidden w-4 h-4;
  }
}

// Delete Button Styles
.delete-button {
  @apply flex items-center justify-center bg-gray-500 text-white text-sm font-medium rounded-md px-2 py-1.5 transition-all absolute top-1 right-3 z-30; /* Positioned in the top-right corner inside the card */

  .delete-icon {
    @apply text-white text-xl;
  }

  &:hover {
    @apply bg-red-700;
  }

  &:active {
    @apply bg-red-800;
  }
}
